hosts/desktop/hardware-configuration.nix
hosts/laptop/hardware-configuration.nix

home/alessandro/dotfiles/hypr/modules

home/alessandro/dotfiles/kitty/colors-kitty.conf
home/alessandro/dotfiles/oh-my-posh/themes/current_theme.omp.json
home/alessandro/dotfiles/rofi/colors.rasi
home/alessandro/dotfiles/swaync/style.css
home/alessandro/dotfiles/waybar/style.css
home/alessandro/dotfiles/wlogout/style.css
