hosts/desktop/hardware-configuration.nix
hosts/laptop/hardware-configuration.nix

home/ale-nix/dotfiles/hypr/modules

home/ale-nix/dotfiles/kitty/colors-kitty.conf
home/ale-nix/dotfiles/oh-my-posh/themes/current_theme.omp.json
home/ale-nix/dotfiles/rofi/colors.rasi
home/ale-nix/dotfiles/swaync/style.css
home/ale-nix/dotfiles/waybar/style.css
home/ale-nix/dotfiles/wlogout/style.css
