hosts/desktop/hardware-configuration.nix
hosts/laptop/hardware-configuration.nix

home/dotfiles/hypr/modules

home/dotfiles/kitty/colors-kitty.conf
home/dotfiles/oh-my-posh/themes/current_theme.omp.json
home/dotfiles/rofi/colors.rasi
home/dotfiles/swaync/style.css
home/dotfiles/waybar/style.css
home/dotfiles/wlogout/style.css
