[colors-dark]
foreground={{ foreground.strip.strip_hash }}
background={{ background.strip.strip_hash }}
cursor={{ cursor.strip.strip_hash }} {{ foreground.strip.strip_hash }}
selection-foreground={{ background.strip.strip_hash }}
selection-background={{ foreground.strip.strip_hash }}

# Standard colors
regular0={{ colors[0].strip.strip_hash }}
regular1={{ colors[1].strip.strip_hash }}
regular2={{ colors[2].strip.strip_hash }}
regular3={{ colors[3].strip.strip_hash }}
regular4={{ colors[4].strip.strip_hash }}
regular5={{ colors[5].strip.strip_hash }}
regular6={{ colors[6].strip.strip_hash }}
regular7={{ colors[7].strip.strip_hash }}

# Bright colors
bright0={{ colors[8].strip.strip_hash }}
bright1={{ colors[9].strip.strip_hash }}
bright2={{ colors[10].strip.strip_hash }}
bright3={{ colors[11].strip.strip_hash }}
bright4={{ colors[12].strip.strip_hash }}
bright5={{ colors[13].strip.strip_hash }}
bright6={{ colors[14].strip.strip_hash }}
bright7={{ colors[15].strip.strip_hash }}
